/* colorscheme */

:root {
  --blue: #0088ff;
  --background-yellow: #fefffa;
  --background-blue: #fafafa;
  --background-white: #fdfdfd;
  --border: rgba(58, 65, 64, 0.281);
  --shadow: rgba(0, 0, 0, 0.47);
  --black: rgb(58, 65, 64, 1)
}

/* tweaks */

a {
  outline: none;
}

[contenteditable] {
  outline: none;
}

/* root stuff */

body {
  font-family: 'Dosis', "Open-Sans", Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  color: #3c4045;
}

/* tiptap content */

.ProseMirror {
  padding: 0px 50px 0px 50px;
  line-height: 1.6;
  font-family: Sans-Serif;
  color: #3c4045;
  height: 85vh;
  /* position: static; */
}

.ProseMirror p {
  margin: 1em 0;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* containers */

.editor-container {
  max-width: 700px;
  height: 93vh;
  margin: auto;
  transition: 100ms linear;
  margin-top: 1vh;
  padding-bottom: 50vh;
  margin-bottom: 1vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--background-blue);
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

.editor-container:hover {
  box-shadow: -1px 10px 33px -8px var(--shadow);
  -webkit-box-shadow: -1px 10px 33px -8px var(--shadow);
  -moz-box-shadow: -1px 10px 33px -8px var(--shadow);
  transition: 100ms linear;
}

.editor-container::-webkit-scrollbar {
  display: none;
}

.main {
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 0px;
  background-color: var(--background-white);
}

.sidebar {
  background-color: var(--background-blue);
  border-right: 1px solid var(--border);
  height: 100%;
  transition: 100ms linear;
}

.header {
  border-bottom: 1px solid var(--border);
  background-color: var(--background-blue)
}

.arrow-container {
  border-right: 1px solid var(--border);
  padding-top: 25px;
}

.sidebar-tools-container {
  padding: 5px;
}

.flexdiv {
  display: flex;
}

.flexdiv-column {
  display: flex;
  flex-direction: column;
}

/* components */

.arrow-button {
  display: inline-block;
  margin: 0px;
  width: 30px;
  background: transparent;
  color: var(--black);
  border: transparent;
}

.arrow-button:hover {
  color: var(--blue);
  transition: 100ms linear;
}

.new-file-button {
  display: inline-block;
  background: transparent;
  border: transparent;
}

.settings-button {
  display: inline-block;
  background: transparent;
  border: transparent;
}

.settings-button:hover {
  color: var(--blue);
  transition: 100ms linear;
}

.rstm-toggle-icon {
  display: inline-block;
}

.rstm-toggle-icon-symbol {
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
}

.tree-item-group {
  list-style-type: none;
  padding-left: 0;
  border-top: 1px solid var(--border);
  text-align: left;
  width: 100vw;
  margin-left: -10px;
  display: inline-flexbox;
}

.rstm-tree-item {
  font-size: 14px;
  cursor: pointer;
  color: var(--black);
  background: none;
  border-bottom: 1px solid var(--border);
  box-shadow: none;
  z-index: unset;
  position: relative;
  padding: 4px;
  display: flex;
}

.rstm-tree-item--active {
  color: var(--background-white);
  background: var(--blue);
  border-bottom: none;
}

.rstm-tree-item--focused {
  box-shadow: 0 0 5px 0 var(--shadow);
  z-index: 999;
}

.rstm-search {
  padding: 4px;
  border: 1px solid var(--border);
  width: 100%;
}


.rc-tooltip-inner {
min-height: fit-content;
}

.tooltip {
  display: flex;
  font-weight: 500;
  font-size: 1.3em;
  min-height: fit-content;
}